<h1>Dice Game</h1>
<hr>

<h3>Welcome</h3>
<p> Here are the rules </p>
<ul>
<li> Roll the dice to start the game.</li>
<li> If your first roll is a 7 or 11, you win.</li>
<li> If your first roll is a 2, 3 or 12, you lose.</li>
<li> Anything else becomes your goal. Roll your goal again before rolling a 7, and you win. Roll a 7 instead of your goal, and you lose.
</ul>

<a href="/dice_play"><button>Roll to start the game!</button></a>