<h1> now select your weapon </h1>

<a href="/rps_display_result?choice=rock"><img src="/assets/rock.png"/></a>
<a href="/rps_display_result?choice=paper"><img src="/assets/paper.png"></a>
<a href="/rps_display_result?choice=scissor"><img src="/assets/scissors.png"></a>